{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="row">
		{% if app.user %}
			{% else %}
				<div class="col-12  mb-5 m-3">
					<img src="/image/logo.png" alt="logo" class="text-center logo">
				</div>
		{% endif %}
		<div class="container-fluid m-auto w-50 d-flex justify-content-center">
			<div class="card card-login">
				<div class="card-body  inside-border ">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								Vous êtes connecté en tant que
								{{ app.user.username }},<br>
								<a class="link" href="{{ path('app_logout') }}">Se déconnecter ?</a>
							</div>
						{% endif %}

						<h1 class="h3 mb-4 mt-4 font-weight-normal text-center title-form">CONNEXION</h1>
						<label class="h4 mb-2 font-weight-normal text-center w-100" for="inputName">Nom d'utilisateur</label>
						<input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control mb-2" placeholder="Entrez votre nom d'utilisateur" required autofocus>
						<label class="h4 mb-2 mt-4 font-weight-normal text-center w-100" for="inputPassword">Mot de passe</label>
						<input type="password" name="password" id="inputPassword" class="form-control mb-5" placeholder="Entrez votre mot de passe" required>

						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

						<button class="btn btn-lg btn-primary text-center w-100 mb-5" type="submit">
							Se connecter
						</button>
						<div class="text-right w-100">
							<a class="link" href="#">Mot de passe oublié ?
							</a>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
