{% extends 'base.html.twig' %}

{% block title %}Rapport
	{{ rapport.titre }}
{% endblock %}

{% block body %}
	<div class="new-rapport p-5 w-75 text-center m-auto">
		<h1>{{ rapport.titre }}</h1>
		<div class="row text-center w-50">
			<div class="mt-4 col-4">
				Date
				<br>
				<div class="cartouche mt-2  p-1">
					{{ rapport.createdAt ? rapport.createdAt|date('d-m-Y H:i') : '' }}
				</div>
			</div>
			<div class=" mt-4 col-4">
				Auteur
				<br>
				<div class="cartouche mt-2 mb-4  p-1 ">
					{{ rapport.auteur.name }}
					{{ rapport.auteur.prenom }}
				</div>
			</div>
		</div>
		<div class="row text-center w-50">
			<div class="col-4">
				Batiment
				<div class="cartouche p-1 mt-2">
					{{ rapport.batiment.denomination}}
				</div>
			</div>
			<div class=" col-4">
				Etage
				<div class="cartouche  p-1 mt-2">
					{{ rapport.etage.denomination}}
				</div>
			</div>
			<div class=" col-4">
				Localisation
				<div class="cartouche  p-1 mt-2">
					{{ rapport.localisation.denomination}}
				</div>
			</div>
		</div>
		<div class="cartouche p-2 mt-4 mb-4">
			{{ rapport.contenu }}
		</div>

		<div class="row">
			<div class="col-4 mt-5">
				<a class="texte-blanc btn btn-form w-75" href="{{ path('rapport_index') }}">Retourner à l'index des rapports</a>
			</div>
			<div class="col-4 mt-5">
				{% if app.user.roles[0]== 'ROLE_ADMIN' %}
					<a class="texte-blanc btn btn-form w-75" href="{{ path('rapport_edit', {'id': rapport.id}) }}">Modifier le rapport</a>
				{% endif %}
			</div>
			<div class="col-4 mt-5">
				{% if app.user.roles[0]== 'ROLE_ADMIN' %}
					{{ include('rapport/_delete_form.html.twig') }}
				{% endif %}
			</div>
		</div>


	</div>

	<div class="mx-auto w-75 my-5">
		{{form_start(commentForm)}}
		<div class="w-25">
			{{form_row(commentForm.titre, {'attr':{'placeholder': "Titre de votre commentaire"}})}}
		</div>
		{{form_row(commentForm.contenu, {'attr':{'placeholder': "Votre commentaire"}})}}
		<button type="submit" class="texte-blanc btn btn-form">
			Enregister votre commentaire</button>
		{{form_end(commentForm)}}
	</div>


	<section id="commentaires">
		{% for commentaire in rapport.commentaires %}
			<div class="row new-rapport p-3 w-75 mx-auto mt-3">
				<div class="col-3">
					{{commentaire.auteur}}
					<br>
					(<small>{{ commentaire.createdAt | date('d/m/Y à H:i')}}</small>)
				</div>
				<div class="col-9">
					{{ commentaire.contenu | raw}}
				</div>
			</div>
		{% endfor %}
	</section>


{% endblock %}
